<nav class="wrapper">
    <a class="logo" routerLink=''>БУСЪТ</a>
    <div>
        <div *ngIf="authService.userData; then thenBlock else elseBlock" class="navbtns"></div>
        <ng-template #thenBlock>
            <a class="btns" routerLink='/catalog' >Меню</a>
            <a class="btns" routerLink='/about' >Относно</a>
            
            <a routerLink='/cart' class="btns-cart"><fa-icon class="btns-cart i" routerLink='/cart' [icon]="faShoppingCart"></fa-icon>{{totalItems}}</a>
            <a class="btns" (click)="signOut()" >Изход</a>
        </ng-template>
        <ng-template #elseBlock >
            <a class="btns" routerLink='/catalog' >Меню</a>
            <a class="btns" routerLink='/about' >Относно</a>
            <a class="btns" routerLink='/login' >Вход</a>
            <a class="btns" routerLink='/register' >Регистрация</a>
        </ng-template>
    </div>
</nav>