.cart {
  height: 72vh;
  margin: 0 1.2rem 5rem 1.2rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2.2rem;
    color: var(--color-one);
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      box-shadow: 0px 5px 15px -12px black;
      text-decoration: none;
      border-radius: 0.4rem;
      height: 300px;
      width: auto;
      margin: 1rem 0;
    }
    h4 {
      margin: 1rem;
    }

    a {
      font-size: 1.4rem;
      padding: 0.4rem;
      color: var(--color-two);
      text-decoration: none;
      border-radius: 0.5rem;
      border: 0.1rem solid var(--color-one);
      background-color: var(--color-one);
    }
  }
}

.cart-table {
  box-shadow: 0px 5px 15px -12px black;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--firstC);
  border: 1px solid var(--firstC);
  border-radius: 0.5rem;
  .wrapper {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    .item-wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .img-wrapper {
        overflow: hidden;
        .img {
          object-position: center;
          width: 120px;
          height: 120px;
          border-radius: 0.5rem;
          object-fit: cover;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 0.22rem;
        .quantity {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: center;
          text-align: center;
          .btn {
            border-radius: 50%;
            cursor: pointer;
            font-size: 1rem;
            border: 0.1rem solid var(--color-one);
            color: var(--color-one);
            &:hover {
              transform: scale(1.05);
            }
          }
        }
        .delItem {
          width: fit-content;
          cursor: pointer;
          padding: 0.3rem;
          font-size: 1.3rem;
          color: var(--color-two);
          text-decoration: none;
          border-radius: 0.4rem;
          border: 0.1rem solid orangered;
          background-color: orangered;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .empty-cart {
      cursor: pointer;
      padding: 0.4rem;
      font-size: 1.5rem;
      color: var(--color-two);
      text-decoration: none;
      border-radius: 0.5rem;
      border: 0.1rem solid crimson;
      background-color: crimson;
      &:hover {
        transform: scale(1.05);
      }
    }
    .shop-more {
      cursor: pointer;
      padding: 0.4rem;
      font-size: 1.5rem;
      color: var(--color-two);
      text-decoration: none;
      border-radius: 0.5rem;
      border: 0.1rem solid var(--color-one);
      background-color: var(--color-one);
      &:hover {
        transform: scale(1.05);
      }
    }
    .checkout {
      cursor: pointer;
      padding: 0.4rem;
      font-size: 1.5rem;
      color: var(--color-two);
      text-decoration: none;
      border-radius: 0.5rem;
      border: 0.1rem solid #26a97c;
      background-color: #26a97c;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
