<ng-container *ngIf='products.length != 0'>
    <div class="cart-table">
        <div class="cart-product">
            <div *ngFor='let item of products; let i = index' class="wrapper">
                 <div class="item-wrapper">
                   <div class="img-wrapper"><img class="img" src="{{item.image}}"></div>
                   <div class="details">
                   <div><strong>Име на продукт: </strong>{{item.name}}</div>
                   <div><strong>Хранителна стойност: </strong>{{item.calories}} калории</div>
                   <div><strong>Цена: </strong>{{item.price}} лв</div>
                   <div >
                        <div class="quantity">
                            <strong>Количество </strong>
                            <button class="btn" (click)='removeQty(item)'> - </button>
                            {{item.quantity}} 
                            <button  class="btn" (click)='addQty(item)'> + </button>
                        </div>
                </div>
                   <button class="delItem" (click)='removeItem(item)'>Изтрий</button>
                   </div>
               </div>
            </div> 
            <div class="btns">
                <button class="empty-cart" (click)='emptyCart()'>Изпразни количката</button>
                <a class="shop-more" routerLink='/catalog'>Пазарувай още</a>
                <a class="checkout" routerLink='/catalog'>Купи</a>
                <h3><strong>Тотал: {{fTotal.toFixed(2)}} лв</strong></h3>
                <h3><strong>Калории тотал: {{fKcal}} kcal</strong></h3>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf='products.length == 0'>
    <div class="cart">
        <h1 class="cart-title">
            Моята количка
        </h1>
        <div class="center">
            <img src="../../assets/cartImg.jpg">
            <p>Вашата количка е празна</p>
            
            <a routerLink='/catalog'>Пазарувай сега</a>
        </div>
    </div>
</ng-container>

