<div class="catalog">
    <div class="title">
        <h1>МЕНЮ</h1>
    </div> 
    <div class="card-grid" >
        <div class="card" *ngFor="let food of allFood">
            <img class="img" src={{food.image}}/>
            <div class="info">
                <h2 class="title">{{food.name}}</h2>
                <div class="buttons">
                    <a routerLink='/details'>Детайли</a> 
                    <button (click)='addToCart(food)'>Добави в количката</button>
                    <p>{{food.price}} лв</p> 
                </div>
            </div>
        </div>
    </div>
</div>
    