/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: var(--textC);
  font-family: "Roboto", sans-serif;
}

:root {
  --firstC: rgb(241, 241, 241);
  --secondC: rgb(93, 20, 220);
  --thirdC: rgb(255, 255, 255);
  --color-one: rgb(93, 20, 220);
  --color-two: rgb(255, 255, 255);
  --color-three: rgb(245, 245, 245);
  --color-four: rgb(10, 10, 10);
}
